.card {
  background-color: #444;
  box-sizing: border-box;
  border: solid #000;
  border-width: 0 1px 1px 1px;
  color: #fff;
  max-width: 100%;
  text-align: left;
  width: 100%;

  &:first-child {
    border-top: 1px solid #000;
  }

  .card_header {
    align-items: center;
    background: #333;
    display: flex;
    gap: 1rem;
    padding: 16px;

    table {
      display: block;
      overflow: hidden;
      width: 80vw;
    }
  }

  .name {
     font-size: 1rem;
     margin: 0;
     min-width: 20vw;
     max-width: 20vw;
  }

  .details {
    padding: 16px;
  }

  .weapon {
    font-size: 0.8rem;
    max-width: 24vw;
    min-width: 24vw;

    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }

  .abilities {
    font-size: 0.8rem;
    list-style: none;
    margin: 4px 0;
    padding: 0;
    
    strong {
      color: #a55;
    }

    .closed {
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
    }
  }

  .weapon_ability {
    background: #557;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 6px;
    margin-right: 4px;
  }

  table {
    border-collapse: collapse;

    .header {
      border-bottom: 1px solid #fff;
    }

    th, td:not(:last-child) {
      min-width: 10vw;
    }

    tr:first-child {
      height: 36px;
    }
  }
}
